/resources/public/js/compiled/**
figwheel_server.log
pom.xml
node_modules/*
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
*~
.nrepl-port
yarn.lock
.rebel_readline_history
resource/public/js/compiled/*